body{
    background-color: lightblue;

}
#title{
    color: white;
    background-color:blue;
    text-align: center; 

}
.container{
    display: flex; 

}
#map{
    width: 100%;
    height: 400px;
    margin-top: 10px;
}